[Unit]
Description=NestCam DIY camera daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
SupplementaryGroups=video gpio
RuntimeDirectory=nestcam
StateDirectory=nestcam
WorkingDirectory=/run/nestcam
Environment=PYTHONUNBUFFERED=1
Environment=LG_WD=/run/nestcam
EnvironmentFile=-/etc/nestcam/nestcam.env
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /opt/nestcam/nestcam_daemon.py
Restart=always
RestartSec=3
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target